
html {
  font-size: 10px;
  background-size: cover;
  position: relative;
}

body,html {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.code-differently-banner {
  width: 100%;
  height: 2.3em;
  margin-top: 2.5em;
  background: #fff0e2;
  text-align: center;
  justify-content: center;
  font-size: 1.5rem;
}

.machine {
  padding: 1em;
  position: relative;
  width: 53em;
  height: 35em;
  border: 5px solid;
  display: flex;
  top: 30%;
  left: 23%;
  background: rgb(112,112,112);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 7px 7px lightgrey;
  text-shadow: 0 0 0.5rem black;
  transition: box-shadow 0.1s;
}
.header {
  width: 100%;
  display: flex;
}
.beatHeader {
  position: absolute;
    width: 100%;
    height: 2.7em;
    background: #d4d5d9;
    margin-left: -1em;
    margin-top: -1em;
    box-shadow: 0px 4px 0px #efeff1 inset, 0px -8px 0px #b9bbc1 inset;
    border-bottom: 5px solid;
    z-index: 1000;
}
.beat-buttons {
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 22%;
  width: 30em;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 15.5em 2.5em 0;
}
.beat-button {
  height: 7.3em;
  box-shadow: 3px 3px 0px 0px darkred;
  width: calc(70% * (1/3));
  border: .4rem solid black;
  background: rgba(0,0,0,0.4);
  margin-left: 0.5em;
  margin-top: 0.5em;
  flex-grow: 1;
  z-index: 10;
  display: flex;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #444;
  transition: all .07s ease;
}

.effect1 {
  transform: scale(.95);
  background: rgba(50,205,50,1);
  box-shadow: 0 0 1rem #ffffff;
}
.effect2 {
  transform: scale(.95);
  background: #b92e34;
  box-shadow: 0 0 1rem #ffffff;
}
.effect3 {
  transform: scale(.95);
  background: rgb(50, 66, 205);
  box-shadow: 0 0 1rem #ffffff;
}
.screen {
  position: absolute;
  height: 9em;
  width: 14em;
  background: #bfeecc;
  right: 9%;
  top: 27%;
  box-shadow: #4a505a 0px 0px 0px 5px inset, #616976 0px 0px 0px 15px inset, 0px 0px lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.screen-info {
  font-family: monospace;
  font-size: 1.1em;
  font-weight: bold;
}
kbd {
  position: relative;
  top: 5%;
  left: 3%;
  display: block;
  font-size: 1rem;
  color: white;
  height: 100%;
  width: 100%;
}
.key {
  float: right;
  padding-right: 10px;
}
.sound {
    float: left;
}
.slider {
  position: absolute;
  top: 63%;
  right: 14%;
}
.slider-dial {
  background: #262626;
  position: absolute;
  width: 2.3em;
  height: 1.5em;
  border: 2px solid black;
  box-shadow: 0.5px 0.5px 0px 0px darkred;
  z-index: 1;
  margin-top: 5em;
  margin-left: 1.9em;
}
.slider-bar {
  background-color: whitesmoke;
    width: 0.3em;
    height: 9em;
    margin: 1.5em 0 0 3em;
    z-index: 0;
    position: absolute;
}

#slider1 {
  right: 40%;
}

#slider2 {
  right: 27%;
}
#slider2 .slider-dial {
  margin-top: 7em;
}
#slider1 .slider-dial {
  margin-top: 4em;
}
.logo {
  padding-top: 25px;
  height: 50px;
}
.project-logo {
  padding-top: 35px;
  font-size: 29px;
  margin-left: 131px;
  color: whitesmoke;
}
