.beat-button {
    height: 7.3em;
    box-shadow: 3px 3px 0px 0px darkred;
    width: calc(70% * (1/3));
    border: .4rem solid black;
    background: rgba(0,0,0,0.4);
    margin-left: 0.5em;
    margin-top: 0.5em;
    flex-grow: 1;
    z-index: 10;
    display: flex;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #444;
    transition: all .07s ease;
  }

  .playing {
    transform: scale(.95);
    background: rgba(50,205,50,1);
    box-shadow: 0 0 1rem #ffffff;
  }

  .machine {
    padding: 1em;
    position: relative;
    width: 53em;
    height: 35em;
    border: 5px solid;
    display: flex;
    top: 30%;
    left: 23%;
    background: rgb(112,112,112);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 7px 7px lightgrey;
    text-shadow: 0 0 0.5rem black;
    transition: box-shadow 0.1s;
  }
  .beat-buttons {
    position: absolute;
    top: 40%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 22%;
    width: 30em;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 15.5em 2.5em 0;
  }